<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/TambahSetoranTPA/style.css">
  <link rel="stylesheet" href="/css/admin/TambahSetoranTPA/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Tambah Setoran TPA</title>
</head>
<body>
  <div class="html-a-tambah-setoran-tpa">
    <div class="body">
      <div class="judul-page">
        <div class="tambah-setoran-tpa">Tambah Setoran TPA</div>
      </div>
      <div class="frame-119">
        <div class="input-tpa">
          <div class="tpa">TPA</div>
          <div class="frame"></div>
        </div>
        <div class="list-storage-green-cycle">List Storage Green Cycle</div>
        <div class="header-storage">
          <div class="jenis-sampah">Jenis Sampah</div>
          <div class="kuantitas">Kuantitas</div>
          <div class="banyaknya-setoran">Banyaknya Setoran</div>
        </div>
        <div class="isi-storage">
          <div class="kaleng">Kaleng</div>
          <div class="_4-kg">4 kg</div>
          <div class="frame2"></div>
          <div class="kg">kg</div>
        </div>
        <div class="isi-storage">
          <div class="botol">Botol</div>
          <div class="_3-kg">3 kg</div>
          <div class="frame2"></div>
          <div class="kg">kg</div>
        </div>
        <div class="button">
          <div class="kembali">
            <div class="kembali2">Kembali</div>
          </div>
          <div class="simpan">
            <div class="simpan2">Simpan</div>
          </div>
        </div>
      </div>
    </div>
    <div class="header2">
      <div class="home">Home</div>
      <div class="data-sampah">Data Sampah</div>
      <div class="informasi-member">Informasi Member</div>
      <div class="setoran-member">Setoran Member</div>
      <div class="setoran-tpa">Setoran TPA</div>
      <div class="storage">Storage</div>
      <img class="logout" src="logout0.svg" />
    </div>
  </div>
  
</body>
</html>