<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/TambahSetoranTPA/style.css">
  <link rel="stylesheet" href="/css/admin/TambahSetoranTPA/vars.css">

  <!--JS-->
  <script src="/js/admin/TambahSetoranTPA/scripts.js" defer></script>
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Tambah Setoran TPA</title>
</head>
<body>
  <div class="html-a-tambah-setoran-tpa">
    <div class="body">
      <div class="judul-page">
        <div class="tambah-setoran-tpa">Tambah Setoran TPA</div>
      </div>
      <form class="frame-119" method="POST" th:action="@{/admin/TambahSetoranTPA3}" id="form-tambah-setoran"> 
        <div class="input-tpa">
          <div for="tpaList" class="tpa">TPA</div>
          <select class="frame" id="tpaList" name="tpaList" required>
            <!-- Opsi Default -->
            <option value="" disabled selected>Pilih TPA</option>
            <option th:each="tpaList : ${tpaList}" 
            th:value="${tpaList.id_tpa}" 
            th:text="${tpaList.nama}"
            th:selected="${tpaList.id_tpa == tpaList}">
            </option>
          </select>        
        </div>
        <div class="list-storage-green-cycle">List Storage Green Cycle</div>
        <!-- BAGIAN TABLE SETORAN TPA -->
        <table class="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Jenis Sampah</th>
              <th>Unit</th>
              <th>Kapasitas</th>
              <th>Banyaknya Setoran</th>
            </tr>
          </thead>
          <!-- BAGIAN ISI TABLE -->
            <tbody>
              <tr th:each="storage, stat : ${storage}">
                <td th:text="${storage.id_sampah}"></td>
                <td th:text="${storage.sampah}"></td>
                <td th:text="${storage.unit}"></td>
                <td th:text="${storage.kapasitas}"></td>
                <td style="width: 225px;">
                  <input type="text" 
                   th:name="'valueSetoran[' + ${storage.id_sampah} + ']'" 
                   class="valueSetoran" 
                   placeholder="Masukkan banyaknya setoran" 
                   th:attr="kapasitas=${storage.kapasitas}">
                </td>
                <td>
                  <span class="error-message hidden">Tidak Valid</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="button">
            <a class="kembali" th:href="@{/admin/SetoranTPA}">
              <div class="kembali2">Kembali</div>
            </a>
            <button class="simpan" type="submit">
              <div class="simpan2">Simpan</div>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="header2">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member" th:onclick="'window.location.href=\'/admin/InformasiMember\''">Informasi Member</button>
      <button class="setoran-member" th:onclick="'window.location.href=\'/admin/SetoranMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
      <button th:onclick="'window.location.href=\'/login\''">
        <img class="logout" src="/images/admin/logout0.svg"/>
      </button>
    </div>
  </div>
</body>
</html>