<!DOCTYPE html>
<html lang="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/TambahSetoranMember/style.css">
  <link rel="stylesheet" href="/css/admin/TambahSetoranMember/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Tambah Setoran Sampah Member</title>
</head>
<body>
  <div class="html-a-tambah-setoran-member">
    <div class="body">
      <div class="judul-page">
        <div class="tambah-setoran-member">Tambah Setoran Member</div>
      </div>
      <div class="input-tambah-setoran">
        <div class="input-member-dan-jenis-sampah">
          <div class="sampah">
            <div class="sampah2">Sampah</div>
            <div class="frame"></div>
          </div>
          <div class="kuantitas">
            <div class="kuantitas2">Kuantitas</div>
            <div class="frame"></div>
          </div>
          <div class="button">
            <div class="tambah-sampah">Tambah Sampah</div>
          </div>
        </div>
        <div class="setoran-member">Setoran Member</div>
        <div class="input-field">
          <div class="nama-member">Nama Member</div>
          <div class="rectangle-3"></div>
        </div>
        <div class="header-sampah">
          <div class="jenis-sampah">Jenis Sampah</div>
          <div class="kuantatitas">Kuantatitas</div>
        </div>
        <div class="isi-sampah">
          <div class="kaleng">Kaleng</div>
          <div class="_2">2</div>
        </div>
        <div class="button2">
          <div href class="kembali">
            <a href="STMember">
            <div class="kembali2">Kembali</div>
            </a>
          </div>
          <div class="simpan">
            <a href="STMember">
            <div class="simpan2">Simpan</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah2" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member"  th:onclick="'window.location.href=\'/admin/InformasiMember\''">Informasi Member</button>
      <button class="setoran-member"  th:onclick="'window.location.href=\'/admin/SetoranMember/STMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
      <button th:onclick="'window.location.href=\'/login\''">
        <img class="logout" src="/images/admin/logout0.svg"/>
      </button>
    </div>
  </div>
  
</body>
</html>