.html-a-informasi-member,
.html-a-informasi-member * {
  box-sizing: border-box;
}
.html-a-informasi-member {
  background: #edf0f2;
  height: 1021px;
  position: relative;
  overflow: hidden;
  font-family: "Poppins-Medium", sans-serif;
}
.body {
  background: #ffffff;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 891px;
  position: absolute;
  left: 20px;
  right : 20px;
  top: 106px;
}
.judul-page {
  border-style: solid;
  border-color: #dee1ff;
  border-width: 0px 0px 1px 0px;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1326px;
  height: 104px;
  position: relative;
}
.member-green-cycle {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fitur {
  border-style: solid;
  border-color: #dee1ff;
  border-width: 0px 0px 1px 0px;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 104px;
  position: relative;
}
.search-bar {
  border-radius: 5px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 479px;
  position: absolute;
  left: 27px;
  top: 30px;
  overflow: hidden;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search-member{
  width: 420px;
  height: 30px;
  padding-left: 5px;
}

/* Table Data Member CSS */
.member-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
}

.member-table th,
.member-table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.member-table th {
  background-color: #f4f4f4;
  font-size: 18px;
}

.member-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* TABLE REKAP CSS */
.rekap-member{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.rekap-member td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: #62804B;
  color : white;
  font-weight: bold;
}

/* CSS UNTUK HEADER */
.header2 {
  background: #ffffff;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0px;
}
.home {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-sampah {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informasi-member {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setoran-member {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setoran-tpa {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.storage {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
