.html-a-edit-harga,
.html-a-edit-harga * {
  box-sizing: border-box;
}
.html-a-edit-harga {
  background: #edf0f2;
  height: 1021px;
  position: relative;
  overflow: hidden;
}
.body {
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 1400px;
  height: 891px;
  position: absolute;
  left: 20px;
  top: 110px;
}
.judul-page {
  border-style: solid;
  border-color: #dee1ff;
  border-width: 0px 0px 1px 0px;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1326px;
  height: 104px;
  position: relative;
}
.edit-harga {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.isi {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1326px;
  position: relative;
}
.nama {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  position: relative;
}
.nama2 {
  color: var(--grey-100, #121212);
  text-align: left;
  font-family: var(--body-2-normal-font-family, "Nunito-Regular", sans-serif);
  font-size: var(--body-2-normal-font-size, 14px);
  line-height: var(--body-2-normal-line-height, 24px);
  font-weight: var(--body-2-normal-font-weight, 400);
  position: relative;
}
.frame {
  flex-shrink: 0;
  width: 350px;
  height: 50px;
  position: relative;
}
.kotak {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grey-40, #d0d0d0);
  border-width: 1px;
  width: 350px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.namaSampah {
  color: var(--grey-100, #121212);
  text-align: center;
  font-family: var(--body-2-normal-font-family, "Nunito-Regular", sans-serif);
  font-size: var(--body-2-normal-font-size, 14px);
  line-height: var(--body-2-normal-line-height, 24px);
  font-weight: var(--body-2-normal-font-weight, 400);
  position: absolute;
  left: 7px;
  top: 13px;
  width: 330px;
}
.unit {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  position: relative;
}
.unit2 {
  color: var(--grey-100, #121212);
  text-align: left;
  font-family: var(--body-2-normal-font-family, "Nunito-Regular", sans-serif);
  font-size: var(--body-2-normal-font-size, 14px);
  line-height: var(--body-2-normal-line-height, 24px);
  font-weight: var(--body-2-normal-font-weight, 400);
  position: relative;
}
.unitSampah {
  color: var(--grey-100, #121212);
  text-align: center;
  font-family: var(--body-2-normal-font-family, "Nunito-Regular", sans-serif);
  font-size: var(--body-2-normal-font-size, 14px);
  line-height: var(--body-2-normal-line-height, 24px);
  font-weight: var(--body-2-normal-font-weight, 400);
  position: absolute;
  left: 7px;
  top: 13px;
  width: 330px;
}
.harga {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 350px;
  position: relative;
}
.harga2 {
  color: var(--grey-100, #121212);
  text-align: left;
  font-family: var(--body-2-normal-font-family, "Nunito-Regular", sans-serif);
  font-size: var(--body-2-normal-font-size, 14px);
  line-height: var(--body-2-normal-line-height, 24px);
  font-weight: var(--body-2-normal-font-weight, 400);
  position: relative;
}
.frame2 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grey-40, #d0d0d0);
  border-width: 1px;
  flex-shrink: 0;
  width: 350px;
  height: 50px;
  position: relative;
  padding-left: 10px;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.batal {
  border-radius: 5px;
  border-style: solid;
  border-color: #24893a;
  border-width: 1px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.batal-perubahan {
  color: #24893a;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.simpan {
  background: #24893a;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.simpan-perubahan {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background: #ffffff;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0px;
}
.home {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-sampah {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  width: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informasi-member {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setoran-member {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setoran-tpa {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.storage {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logout {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
