<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/SetoranTPA/style.css">
  <link rel="stylesheet" href="/css/admin/SetoranTPA/vars.css">

  <!--JS utk search & tombol detail-->
  <script src="/js/admin/SetoranTPA/scripts.js" defer></script>

  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      background: none;

      -webkit-font-smoothing: antialiased;
    }

    menu,
    ol,
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>

  <title>Setoran TPA</title>
</head>

<body>
  <div class="html-a-setoran-tpa-1">
    <div class="body">
      <div class="judul-page">
        <div class="setoran-sampah-tpa">Setoran Sampah TPA</div>
        <button class="button">
          <div class="rekapan" th:onclick="'window.location.href=\'/admin/RekapanSetoran\''">
            <img class="div" src="/images/admin/file0.svg" />
            <div class="rekapan-setoran">Rekapan Setoran</div>
          </div>
          <div class="tambah" th:onclick="'window.location.href=\'/admin/TambahSetoranTPA\''">
            <img class="div" src="/images/admin/div0.svg" />
            <div class="tambah-setoran">Tambah Setoran</div>
          </div>
        </button>
      </div>

      <!-- FILTER-FILTER -->
      <form method="GET" action="/admin/SetoranTPA" id="filterForm" class="fitur">
        <div class="search-bar">
          <img class="search" src="/images/admin/search0.svg" />
          <!-- Search nama TPA -->
          <input id="filterInput" type="text" name="filter" class="frame" th:value="${filter}"
            placeholder="Cari Nama TPA" />
        </div>

        <div class="filter-tgl">
          <!-- Tanggal awal -->
          <div class="awal">
            <div class="tanggal-awal">
              Tanggal Awal
              <input type="date" name="tgl_awal" th:value="${tgl_awal}" onchange="this.form.submit()" />
            </div>
          </div>
          <!-- Tanggal Akhir -->
          <div class="akhir">
            <div class="tanggal-akhir">
              Tanggal Akhir
              <input type="date" name="tgl_akhir" th:value="${tgl_akhir}" onchange="this.form.submit()" />
            </div>
          </div>
          <div class="filter-tanggal">Filter Tanggal</div>
        </div>
      </form>

      <table class="tpa-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>TPA</th>
            <th>Tanggal Setor</th>
            <th>Detail</th>
          </tr>
        </thead>

        <!-- INI BAGIAN ISI TABLE -->
        <tbody>
          <tr th:each="setoran : ${setoranList}">
            <td th:text="${setoran.id}"></td>
            <td th:text="${setoran.namaTPA}"></td>
            <td th:text="${#dates.format(setoran.tanggal, 'dd/MM/yyyy')}"></td>
            <td>
              <button class="detail-button" th:data-id="${setoran.id}">
                <img class="detail" src="/images/admin/detail0.svg" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--DETAILS-->
      <table class="details-table" style="display:none">
        <tbody id="details-body">
        </tbody>
      </table>


    </div>
    <div class="header2">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member" th:onclick="'window.location.href=\'/admin/InformasiMember\''">Informasi Member</button>
      <button class="setoran-member" th:onclick="'window.location.href=\'/admin/SetoranMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
      <button th:onclick="'window.location.href=\'/login\''">
        <img class="logout" src="/images/admin/logout0.svg"/>
      </button>
    </div>
  </div>
</body>
</html>