<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/User/HistorySetoran/style.css">
  <link rel="stylesheet" href="/css/User/HistorySetoran/vars.css">
  <script src="/js/user/HistorySetoran/scripts.js" defer></script>
  <style>
    a, button, input, select, h1, h2, h3, h4, h5, * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      background: none;
      -webkit-font-smoothing: antialiased;
    }
    menu, ol, ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  </style>
  <title>Setoran Sampah Member</title>
</head>

<body>
  <div class="html-b-history-setoran">
    <div class="body">
      <div class="judul-page">
        <div class="history-setoran">History Setoran</div>
      </div>

      <!-- FILTER -->
      <form method="GET" action="/user/HistorySetoran" id="filterForm" class="fitur">
        <div class="search-bar">
          <img class="search" src="/images/User/search0.svg" />
          <input id="filterInput" type="text" name="filter" class="frame" th:value="${filter}" placeholder="Cari Nama Sampah" />
        </div>
        <div class="filter-tgl">
          <div class="awal">
            <div class="tanggal-awal">
              Tanggal Awal
              <input type="date" name="tgl_awal" th:value="${tgl_awal}" onchange="this.form.submit()" />
            </div>
          </div>
          <div class="akhir">
            <div class="tanggal-akhir">
              Tanggal Akhir
              <input type="date" name="tgl_akhir" th:value="${tgl_akhir}" onchange="this.form.submit()" />
            </div>
          </div>
          <div class="filter-tanggal">Filter Tanggal</div>
        </div>
      </form>

      <table class="member-table">
        <thead>
          <tr>
            <th>Jenis Sampah</th>
            <th>Kuantitas</th>
            <th>Subtotal</th>
            <th>Tanggal Setor</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${setoranList}">
              <td th:text="${item.jenisSampah}"></td>
              <td th:text="${item.kuantitas}"></td>
              <td th:text="'Rp' + ${item.subtotal}"></td>
              <td th:text="${item.tanggal}"></td>
          </tr>
        </tbody>
      </table>

      <div class="rekapan">
        <div class="total">Total Pendapatan :</div>
        <div class="nominal" th:text="'Rp' + ${totalPendapatan}"></div>
      </div>
    </div>
  </div>

  <div class="header2">
    <button class="home" th:onclick="'window.location.href=\'/user/LandingPage\''">Home</button>
    <button class="data-sampah2" th:onclick="'window.location.href=\'/user/DataSampah\''">Harga Jual</button>
    <button class="history-setoran2" th:onclick="'window.location.href=\'/user/HistorySetoran\''">History Setoran</button>
    <button th:onclick="'window.location.href=\'/loginUser\''">
      <img class="logout" src="/images/User/logout-020.svg" />
    </button>
  </div>
</body>
</html>
