.html-a-data-sampah-1,
.html-a-data-sampah-1 * {
  box-sizing: border-box;
  font-family: "Poppins-Regular", sans-serif;
}
.html-a-data-sampah-1 {
  background: #edf0f2;
  height: 1021px;
  position: relative;
  overflow: hidden;
}
.body {
  background: #ffffff;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 891px;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 98px;
}
.judul-page {
  border-style: solid;
  border-color: #dee1ff;
  border-width: 0px 0px 1px 0px;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1326px;
  height: 104px;
  position: relative;
}
.data-sampah {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #24893a;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.tambah-sampah {
  color: #ffffff;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fitur {
  border-style: solid;
  border-color: #dee1ff;
  border-width: 0px 0px 1px 0px;
  padding: 10px 25px 10px 25px;
  align-self: stretch;
  flex-shrink: 0;
  height: 104px;
  position: relative;
}
.search-bar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 479px;
  position: relative;
  overflow: hidden;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.header2 {
  background: #ffffff;
  padding: 10px 25px 10px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0px;
}
.home {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-sampah2 {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  width: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.informasi-member {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-setoran {
  color: #101540;
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

input.searchSampah{
  border-radius: 10px;
  border-style: solid;
  border-color: var(--grey-40, #d0d0d0);
  border-width: 1px;
  flex-shrink: 0;
  width: 350px;
  height: 50px;
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
}
/* INI CSS TABLE (sampai bawah) */
.data-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.data-table th {
  background-color: #f4f4f4;
  font-size: 18px;
}

.data-table tbody tr:hover {
  background-color: #f1f1f1;
}