<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/InformasiMember/style.css">
  <link rel="stylesheet" href="/css/admin/InformasiMember/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Informasi Member</title>
</head>
<body>
  <div class="html-a-informasi-member">
    <div class="body">
      <div class="judul-page">
        <div class="member-green-cycle">Member Green Cycle</div>
      </div>
      <div class="fitur">
        <div class="search-bar">
          <img class="search" src="/images/admin/search0.svg" />
          <!-- SEARCH BAR MEMBER -->
          <form method="GET" th:action="@{/admin/InformasiMember}">
            <input type="text" name="filter" th:value="${filter}" placeholder="Cari nama member" class="search-member" input=this.form.submit()/>
          </form>
        </div>
      </div>

      <!-- TABLE INFORMASI MEMBER -->
      <table class="member-table">
        <thead>
          <th>ID</th>
          <th>Nama</th>
          <th>No. Telepon</th>
          <th>Alamat</th>
          <th>Kelurahan</th>
          <th>Kecamatan</th>
          <th>Jumlah Setoran</th>
        </thead>
        <tbody>
          <tr th:each="member, stat : ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.nama}"></td>
            <td th:text="${member.noTelp}"></td>
            <td th:text="${member.alamat}"></td>
            <td th:text="${member.kelurahan}"></td>
            <td th:text="${member.kecamatan}"></td>
            <td th:text="${member.jml_setoran}"></td>
          </tr>
        </tbody>
      </table>

      <table class="rekap-member"  th:if="${filter == ''}">
        <tbody>
          <td>Total member:</td>
          <td th:text="${jmlMember} + ' orang'"></td>
        </tbody>
      </table>
    </div>

    <!-- HEADER HTML -->
    <div class="header2">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member">Informasi Member</button>
      <button class="setoran-member" th:onclick="'window.location.href=\'/admin/SetoranMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
      <button th:onclick="'window.location.href=\'/login\''"><img class="logout" src="/images/admin/logout0.svg"/></button>
    </div>
  </div>
  
</body>
</html>