<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/InformasiMember/style.css">
  <link rel="stylesheet" href="/css/admin/InformasiMember/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Informasi Member</title>
</head>
<body>
  <div class="html-a-informasi-member">
    <div class="body">
      <div class="judul-page">
        <div class="member-green-cycle">Member Green Cycle</div>
      </div>
      <div class="fitur">
        <div class="search-bar">
          <img class="search" src="search0.svg" />
        </div>
      </div>
      <div class="header">
        <div class="id">ID</div>
        <div class="nama">Nama</div>
        <div class="no-telepon">No Telepon</div>
        <div class="alamat">Alamat</div>
        <div class="kelurahan">Kelurahan</div>
        <div class="kecamatan">Kecamatan</div>
        <div class="jumlah-setoran">Jumlah Setoran</div>
      </div>
      <div class="isi-member-1">
        <div class="_1">1</div>
        <div class="tifany">Tiffany</div>
        <div class="_0857">0857</div>
        <div class="jln-dahlia">Jln. Dahlia</div>
        <div class="cidadap">Cidadap</div>
        <div class="cimbeuleuit">Cimbeuleuit</div>
        <div class="_4">4</div>
      </div>
      <div class="isi-member-2">
        <div class="_2">2</div>
        <div class="olyn">Olyn</div>
        <div class="_0857">0857</div>
        <div class="jln-braga">Jln. Braga</div>
        <div class="margacinta">Margacinta</div>
        <div class="buahbatu">Buahbatu</div>
        <div class="_4">4</div>
      </div>
      <div class="isi-member-3">
        <div class="_3">3</div>
        <div class="axel">Axel</div>
        <div class="_0857">0857</div>
        <div class="jln-supratman">Jln. Supratman</div>
        <div class="rahayu">Rahayu</div>
        <div class="margaasih">Margaasih</div>
        <div class="_4">4</div>
      </div>
      <div class="isi-member-4">
        <div class="_42">4</div>
        <div class="clarence">Clarence</div>
        <div class="_0857">0857</div>
        <div class="jln-riau">Jln. Riau</div>
        <div class="merdeka">Merdeka</div>
        <div class="sumur-bandung">Sumur Bandung</div>
        <div class="_4">4</div>
      </div>
    </div>
    <div class="header2">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member">Informasi Member</button>
      <button class="setoran-member" th:onclick="'window.location.href=\'/admin/STMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</div>
      <img class="logout" src="logout0.svg" />
    </div>
  </div>
  
</body>
</html>