<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="html-a-data-sampah-1">
    <div class="body">
      <div class="judul-page">
        <div class="data-sampah">Data Sampah</div>
        <div class="button">
          <img class="div" src="div0.svg" />
          <div class="tambah-sampah">Tambah Sampah</div>
        </div>
      </div>
      <div class="fitur">
        <div class="search-bar">
          <img class="search" src="search0.svg"/>
          <input type="text" id="searchSampah" name="searchSampah" placeholder="Cari Sampah">
        </div>
      </div>
      <!-- INI BAGIAN HEADER TABLE -->
       <!-- css nya ada di paling bawah yaa -->
      <table class="data-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Unit</th>
            <th>Harga</th>
            <th>Tanggal Update</th>
            <th>Edit</th>
          </tr>
        </thead>
        <!-- INI BAGIAN ISI TABLE -->
        <tbody>
          <tr>
            <td>1</td>
            <td>Contoh Nama</td>
            <td>kg</td>
            <td>Rp1.000</td>
            <td>2024-11-21</td>
            <td>
              <button class="edit-button">
              <img class="edit-icon" src="edit2.svg" alt="Edit" />
            </button></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Contoh Nama</td>
            <td>kg</td>
            <td>Rp1.000</td>
            <td>2024-11-21</td>
            <td>
              <button class="edit-button">
              <img class="edit-icon" src="edit2.svg" alt="Edit" />
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="header2">
    <div class="home">Home</div>
    <div class="data-sampah2">Data Sampah</div>
    <div class="informasi-member">Informasi Member</div>
    <div class="setoran-member">Setoran Member</div>
    <div class="setoran-tpa">Setoran TPA</div>
    <div class="storage">Storage</div>
    <img class="logout" src="logout0.svg" />
  </div>
</body>
</html>
