<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/DataSampah/style.css">
  <link rel="stylesheet" href="/css/admin/DataSampah/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Data Sampah</title>
</head>
<body>
  <div class="html-a-data-sampah-1">
    <div class="body">
      <div class="judul-page">
        <div class="data-sampah">Data Sampah</div>
        <button class="button" th:onclick="'window.location.href=\'/admin/TambahSampah\''">
          <img class="div" src="/images/admin/div0.svg" />
          <div class="tambah-sampah">Tambah Sampah</div>
        </button>
      </div>
      <div class="fitur">
        <div class="search-bar">
          <img class="search" src="/images/admin/search0.svg"/>
          <!-- Search nama SAMPAH -->
          <form method="GET" th:action="@{/admin/DataSampah}">
            <input type="text" name="filter" class="searchSampah" th:value="${filter}" placeholder="Cari Nama Sampah" input="this.form.submit()"/>
          </form>
        </div>
      </div>
      <!-- INI BAGIAN HEADER TABLE -->
       <!-- css nya ada di paling bawah yaa -->
      <table class="data-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Unit</th>
            <th>Harga</th>
            <th>Tanggal Update</th>
            <th>Edit</th>
          </tr>
        </thead>
        <!-- INI BAGIAN ISI TABLE -->
        <tbody>
          <tr th:each="sampah, stat : ${sampah}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${sampah.nama}"></td>
            <td th:text="${sampah.unit}"></td>
            <td th:text="'Rp' + ${sampah.harga}"></td>
            <td th:text="${#dates.format(sampah.tanggal_perubahan, 'dd/MM/yyyy')}"></td>
            <td>
              <form class="edit-button" method="GET" th:action="@{/admin/EditHarga}">
                <input type="hidden" name="id" th:value="${sampah.id_sampah}">
                <button type="submit">
                    <img class="edit-icon" src="/images/admin/edit2.svg" alt="Edit"/>
                </button>
              </form>
            </td>            
          </tr>
        </tbody>        
      </table>
    </div>
  </div>
  <div class="header2">
    <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
    <button class="data-sampah2" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
    <button class="informasi-member" th:onclick="'window.location.href=\'/admin/InformasiMember\''">Informasi Member</button>
    <button class="setoran-member" th:onclick="'window.location.href=\'/admin/SetoranMember\''">Setoran Member</button>
    <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
    <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
    <button th:onclick="'window.location.href=\'/login\''">
      <img class="logout" src="/images/admin/logout0.svg" />
    </button>
  </div>
</body>
</html>