<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/EditHarga/style.css">
  <link rel="stylesheet" href="/css/admin/EditHarga/vars.css">
  
  <!--JS utk tombol simpan perubahan-->
  <script src="/js/admin/EditHarga/scripts.js" defer></script>

  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Edit Harga</title>
</head>
<body>
  <div class="html-a-edit-harga">
    <div class="body">
      <div class="judul-page">
        <div class="edit-harga">Edit Harga</div>
      </div>
      <form class="isi" method="POST" th:action="@{/admin/EditHarga}" id="form-edit-harga">
        <fieldset>
          <input type="hidden" id="id" name="id" th:value="${id}">
          <div class="nama">
            <div class="nama2">Nama</div>
            <div class="frame">
              <div class="kotak"></div>
              <div id="nama-sampah" class="namaSampah" th:text="${namaSampah}"></div>
            </div>
          </div>
          <div class="unit">
              <div class="unit2">Unit</div>
              <div class="frame">
                <div class="kotak"></div>
                <div id="unit-sampah" class="unitSampah" th:text="${unitSampah}"></div>
              </div>
          </div>
          <div class="harga">
            <div class="harga2">Harga Baru</div>
            <input type="text" id="harga-sampah" name="harga-sampah" class="frame2" placeholder="contoh: 10000.00">
          </div>
        </fieldset>
        <div class="button">
          <a class="batal" th:href="@{/admin/DataSampah}">
            <div class="batal-perubahan">Batal Perubahan</div>
          </a>
          <button class="simpan" type="submit" disabled>
            <div class="simpan-perubahan">Simpan Perubahan</div>
          </button>
        </div>
      </form>
    </div>
    <div class="header">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member" th:onclick="'window.location.href=\'/admin/InformasiMember\''">Informasi Member</button>
      <button class="setoran-member" th:onclick="'window.location.href=\'/admin/SetoranMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
      <button th:onclick="'window.location.href=\'/login\''">
        <img class="logout" src="/images/admin/logout0.svg" />
      </button>
    </div>
  </div>
  
</body>
</html>