<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login/vars.css">
    <link rel="stylesheet" href="/css/Login/style.css">
    <title>Login</title>

    <!--JS utk tombol login-->
   <script src="/js/login/scripts.js" defer></script>

</head>
<body>
  <div class="html-a-login">
    <img class="a-login" src="/images/admin/a-login0.png" />
    <div class="login-container">
      <form class="login-details" method="POST" th:action="@{/login}">
        <div class="login">Login</div>
        <div class="email">
          <div class="email2">Email*</div>
          <input type="text" id="email" name="email" class="frame" placeholder="Enter your email" required />
        </div>
        <div class="password">
          <div class="password2">Password*</div>
          <input type="password" id="password" name="password" class="frame" placeholder="Enter your password" required />
        </div>
        <button class="button" type="submit">
          <div class="login2">Login</div>
        </button>
        <div id="popup" class="popup" style="display: none;">
          <div class="popup-content">
              <span class="close-button" onclick="closePopup()">&times;</span>
              <p id="popup-message"></p>
          </div>
        </div>  
      </form>
    </div>
  </div>
</body>
</html>
