<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/RekapanSetoran/style.css">
  <link rel="stylesheet" href="/css/admin/RekapanSetoran/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Rekapan Setoran</title>
</head>
<body>
  <div class="html-a-rekapan-setoran">
    <div class="body">
      <div class="judul-page">
        <div class="rekapan-setoran">Rekapan Setoran</div>
      </div>
      <div class="fitur">
        <div class="search-bar">
          <img class="search" src="search0.svg" />
        </div>
        <div class="filter-tgl">
          <div class="akhir">
            <div class="tanggal-akhir">Tanggal Akhir</div>
          </div>
          <div class="awal">
            <div class="tanggal-awal">Tanggal Awal</div>
          </div>
          <div class="filter-tanggal">Filter Tanggal</div>
        </div>
      </div>
      <div class="header">
        <div class="jenis-sampah">Jenis Sampah</div>
        <div class="kuantitas">Kuantitas</div>
        <div class="satuan">Satuan</div>
      </div>
      <div class="isi-setoran-sampah">
        <div class="kaleng">Kaleng</div>
        <div class="_3">3</div>
        <div class="kg">kg</div>
      </div>
      <div class="isi-setoran-sampah">
        <div class="kaca">Kaca</div>
        <div class="_3">3</div>
        <div class="kg">kg</div>
      </div>
    </div>
    <div class="header2">
      <div class="home">Home</div>
      <div class="data-sampah">Data Sampah</div>
      <div class="informasi-member">Informasi Member</div>
      <div class="setoran-member">Setoran Member</div>
      <div class="setoran-tpa">Setoran TPA</div>
      <div class="storage">Storage</div>
      <img class="logout" src="logout0.svg" />
    </div>
  </div>
  
</body>
</html>