<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/RekapanSetoran/style.css">
  <link rel="stylesheet" href="/css/admin/RekapanSetoran/vars.css">
  
  <!--JS utk search -->
  <script src="/js/admin/RekapanSetoran/scripts.js" defer></script>

  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Rekapan Setoran</title>
</head>
<body>
  <div class="html-a-rekapan-setoran">
    <div class="body">

      <div class="judul-page">
        <div class="rekapan-setoran">Rekapan Setoran</div>
        <button class="button">
          <div class="kembali" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">
            <div class="kembali2">Kembali</div>
          </div>
        </button>
      </div>

      <!-- FILTER-FILTER -->
      <form method="GET" action="/admin/RekapanSetoran" id="filterForm" class="fitur">
        <div class="search-bar">
            <img class="search" src="/images/admin/search0.svg" />
            <!-- Search nama TPA -->
            <input id= "filterInput" type="text" name="filter" class="frame" th:value="${filter}" placeholder="Cari Jenis Sampah"/>
        </div>
      
      <div class="filter-tgl">
            <!-- Tanggal awal -->
            <div class="awal">
                <div class="tanggal-awal">
                    Tanggal Awal
                    <input type="date" name="tgl_awal" th:value="${tgl_awal}" onchange="this.form.submit()" />
                </div>
            </div>
            <!-- Tanggal Akhir -->
            <div class="akhir">
                <div class="tanggal-akhir">
                    Tanggal Akhir
                    <input type="date" name="tgl_akhir" th:value="${tgl_akhir}" onchange="this.form.submit()" />
                </div>
            </div>
        <div class="filter-tanggal">Filter Tanggal</div>
      </div>
    </form>

    <table class="rekap-table">
      <thead>
        <tr>
          <th>Jenis Sampah</th>
          <th>Kuantitas</th>
          <th>Satuan</th>
        </tr>
      </thead>

      <!-- INI BAGIAN ISI TABLE -->
      <tbody>
        <tr th:each="setoran : ${rekapanSetoranList}">
          <td th:text="${setoran.jenis_sampah}"></td>
          <td th:text="${setoran.jumlah}"></td>
          <td th:text="${setoran.satuan}"></td>
        </tr>
      </tbody>
    </table>

    <div class="header2">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member" th:onclick="'window.location.href=\'/admin/InformasiMember\''">Informasi Member</button>
      <button class="setoran-member" th:onclick="'window.location.href=\'/admin/SetoranMember\''">Setoran Member</button>
      <button class="setoran-tpa" th:onclick="'window.location.href=\'/admin/SetoranTPA\''">Setoran TPA</button>
      <button class="storage" th:onclick="'window.location.href=\'/admin/Storage\''">Storage</button>
      <button th:onclick="'window.location.href=\'/login\''">
        <img class="logout" src="/images/admin/logout0.svg"/>
    </button>
    </div>
  </div>
  
</body>
</html>