<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin/TambahSampah/style.css">
  <link rel="stylesheet" href="/css/admin/TambahSampah/vars.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Tambah Sampah</title>
</head>
<body>
  <div class="html-a-tambah-sampah">
    <div class="body">
      <div class="judul-page">
        <div class="data-sampah">Data Sampah</div>
      </div>
      <div class="isi">
        <div class="sampah">
          <div class="nama-sampah">Nama Sampah</div>
          <input type="text" id="nama-sampah" class="frame" placeholder="Masukkan Nama Sampah">
        </div>
        <div class="unit">
          <div class="unit-sampah">Unit Sampah</div>
          <input type="text" id="unit-sampah" class="frame" placeholder="Masukkan Unit Sampah">
        </div>
        <div class="harga">
          <div class="harga2">Harga</div>
          <input type="text" id="unit-sampah" class="frame" placeholder="contoh: 10000">
        </div>
        <div class="button" th:onclick="'window.location.href=\'/admin/DataSampah\''">
          <button class="kembali">
            <div class="kembali2">Kembali</div>
          </button>
          <button class="simpan">
            <div class="simpan-perubahan">Simpan Perubahan</div>
          </button>
        </div>
      </div>
    </div>
    <div class="header">
      <button class="home" th:onclick="'window.location.href=\'/admin/LandingPage\''">Home</button>
      <button class="data-sampah2" th:onclick="'window.location.href=\'/admin/DataSampah\''">Data Sampah</button>
      <button class="informasi-member">Informasi Member</button>
      <button class="setoran-member">Setoran Member</button>
      <button class="setoran-tpa">Setoran TPA</button>
      <button class="storage">Storage</button>
      <img class="logout" src="/images/admin/logout0.svg" />
    </div>
  </div>
  
</body>
</html>