<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/User/RegisterDataDiri/vars.css">
  <link rel="stylesheet" href="/css/User/RegisterDataDiri/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="html-b-register-data-diri">
    <img class="b-register-data-diri" src="/images/User/b-register-data-diri0.png" />
    <div class="register-container"></div>
    <div class="register-details">
      <div class="register">Register</div>
      <form class="input-collection" method="POST" th:action="@{/register}">
        <div class="group-4">
          <div class="name">
            <div class="password2">Nama Lengkap*</div>
            <input type="text" id="nama" name="nama" class="rectangle-34" placeholder="Masukkan nama Anda" required />
          </div>
          <div class="email">
            <div class="email2">Email*</div>
            <input type="text" id="email" name="email" class="rectangle-34" placeholder="Masukkan email Anda" required />
          </div>
          <div class="password">
            <div class="password2">Password*</div>
            <input type="password" id="password" name="password" class="rectangle-34" placeholder="Masukkan password" required />
          </div>
          <div class="confirm-password">
            <div class="confirm-password2">Konfirmasi Password*</div>
            <input type="password" class="rectangle-34" placeholder="Masukkan kembali password" required />
          </div>
          <div class="phone-number">
            <div class="phone-number2">Nomor Telepon*</div>
            <input type="text" id="nohp" name="nohp" class="rectangle-34" placeholder="Masukkan nomor telepon" required />
          </div>
        </div>
        <button class="rectangle-342" type="submit">
          <div class="selanjutnya">Selanjutnya</button>
        </button>
      </form>
    </div>
  </div>
  
</body>
</html>